body{
  background-color: #555;
}

#container{
  background-color: maroon;
  width: 1250px;
  margin: 0 auto;
  border: 7px solid beige;
  border-radius: 40px;
  height: 660px;
  padding: 20px;
}

#bigPicDiv, #thumbsDiv{
  background-color: white;
  border: 5px solid tan;
  border-radius: 20px;
  padding: 10px;
  height: 480px;
  font-size: 2rem;
  font-family: sans-serif;
  text-align: center;
}

#bigPicDiv{
  float: right;
  width: 35%;
}

#thumbsDiv{
  width: 58%;
  float: left;
  margin-right: 10px;
  background-image: url(../img/chinese-zodiac/janice-w-bunny-600x261.png);
  background-repeat: no-repeat;
  background-position: bottom;
	display: 
}

header{
  height: 100px;
  text-align: center;
  color: whitesmoke;
  font-family: sans-serif;
}

footer{
  height: 30px;
  clear: both;
  text-align: right;
  padding-top: 10px;
}

h1{font-size: 1.5rem;}
h2{font-size: 1.25rem;}

button{
  font-size: 1rem;
  padding: 3px;
  color:whitesmoke;
  background-color: darkorchid;
  border-radius: 10px;
  width: 100px;
}

#chinChar{
  position: absolute;
  width: 247px;
  height: 158px;
  left: 200px;
  top: 355px;
  background-color: white;
  text-align: center;
  display: none;
  z-index: 1;
  
}

#chinChar img{
  height: 100%;
  width: auto;
}

#restart{
  display: none;
}

#thumbsDiv img {
    width: 12%;
    border: 3px solid #AAA;
    box-shadow: 5px 5px 5px #888;
    border-radius: 10px;
    margin: 13px;
    cursor: pointer;
}

